@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #0D1117;
    color: #6E768166;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.user-form {
    width: 100%;
    max-width: 700px;
}

.user-form input {
    width: 100%;
    display: block;
    background-color: #0D1117;
    border: 1px solid #6E768166;
    border-radius: 10px;
    color: #F0F6FC;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
    color: #F0F6FC;
}

.user-form input:focus {
    outline: none;
}

.card {
    max-width: 800px;
    background-color: #0D1117;
    border: 1px solid #6E768166;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
}

.avatar {
    margin-top: 15%;
    border-radius: 50%;
    border: 1px solid #6E768166;
    height: 150px;
    width: 150px;
}

.user-info {
    color: #F0F6FC;
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.3rem;
    margin-right: 0.5rem;
}

.repo {
    text-decoration: none;
    border: 1px solid #6E768166;
    border-radius: 4px;
    color: #1F6FEB;
    background-color: #0D1117;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

@media(max-width: 500px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .user-form {
        max-width: 400px;
    }
}